* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

[class*= 'col-'] {
    float: left;
    border: 1px solid gray;
    padding: 15px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.row { position: relative; }

.row::after {
    content: "";
    clear: both;
    display: block;
}

.h-50  { height: 50px;}
.h-100 { height: 100px;}
.h-150 { height: 150px;}
.h-200 { height: 200px;}
.h-250 { height: 250px;}
.h-600 { height: 600px;}

.bg-dark { background-color: #282626; }

.d-none {
    display: none;
}


/*Media Query for responsive device*/


@media  screen and (max-width: 600px) {
    [class*= 'col-'] {
        width: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    .col-md-1 { width: 8.33%; }
    .col-md-2 { width: 16.66%; }
    .col-md-3 { width: 25%; }
    .col-md-4 { width: 33.33%; }
    .col-md-5 { width: 41.66%; }
    .col-md-6 { width: 50%; }
    .col-md-7 { width: 58.33%; }
    .col-md-8 { width: 66.66%; }
    .col-md-9 { width: 75%; }
    .col-md-10 { width: 83.33%; }
    .col-md-11 { width: 91.66%; }
    .col-md-12 { width: 100%; }

    .search-md {
        position: absolute;
        top: 0;
        right: 0;
    }

    .ordinary-col-12 {
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
     .d-block {
         display: block;
     }
}

.div-a-1 {
    width: 10px;
    height: 100px;
    background-color: white;
    float: left;
    transform: translate(20px, 20px) skew(-20deg);
}
.div-a-2 {
    width: 10px;
    height: 100px;
    background-color: white;
    float: left;
    transform: translate(48px, 20px) skew(20deg);
}
.div-a-3 {
    width: 5px;
    height: 48px;
    background-color: white;
    float: left;
    transform: translate(25px, 60px) rotate(90deg);
}

.div-b-1 {
    width: 10px;
    height: 100px;
    background-color: green;
    float: left;
    transform: translate(76px, 20px);
}
.div-b-2 {
    width: 50px;
    height: 50px;
    border: 5px solid green;
    border-radius: 0 50% 50% 0;
    float: left;
    transform: translate(68px, 20px);
}
.div-b-3 {
    width: 50px;
    height: 50px;
    border: 5px solid green;
    border-radius: 0 50% 50% 0;
    float: left;
    transform: translate(18px, 70px);
}

.div-c-1 {
    width: 50px;
    height: 100px;
    border: 5px solid white;
    border-right: none;
    border-radius: 50% 40% 30% 50%;
    float: left;
    transform: translate(29px, 20px);
}

.div-d-1 {
    width: 50px;
    height: 100px;
    border: 10px solid green;
    border-radius: 0 50% 50% 0;
    float: left;
    transform: translate(47px, 20px);
}

.div-e-1 {
    width: 10px;
    height: 100px;
    background-color: white;
    float: left;
    transform: translate(58px, 20px);
}
.div-e-2 {
    width: 10px;
    height: 48px;
    background-color: white;
    float: left;
    transform: translate(68px, 1px) rotate(90deg);
}
.div-e-3 {
    width: 5px;
    height: 41px;
    background-color: white;
    float: left;
    transform: translate(57px, 48px) rotate(90deg);
}
.div-e-4 {
    width: 10px;
    height: 48px;
    background-color: white;
    float: left;
    transform: translate(53px, 91px) rotate(90deg);
}

.div-f-1 {
    width: 10px;
    height: 100px;
    background-color: green;
    float: left;
    transform: translate(92px, 20px);
}
.div-f-2 {
    width: 10px;
    height: 48px;
    background-color: green;
    float: left;
    transform: translate(101px) rotate(90deg);
}
.div-f-3 {
    width: 5px;
    height: 40px;
    background-color: green;
    float: left;
    transform: translate(93px, 48px) rotate(90deg);
}

.div-g-1 {
    width: 44px;
    height: 100px;
    border: 5px solid white;
    border-bottom: 13px solid white;
    border-right: none;
    border-radius: 50% 40% 40% 50%;
    float: left;
    transform: translate(126px, 20px);
}
.div-g-2 {
    width: 18px;
    height: 36px;
    border: 7px solid white;
    border-left: none;
    border-bottom: none;
    float: left;
    transform: translate(114px, 84px);
}

.div-h-1 {
    width: 10px;
    height: 100px;
    background-color: green;
    float: left;
    transform: translate(129px, 20px);
}
.div-h-2 {
    width: 5px;
    height: 48px;
    background-color: green;
    float: left;
    transform: translate(141px, 50px) rotate(90deg);
}
.div-h-3 {
    width: 10px;
    height: 100px;
    background-color: green;
    float: left;
    transform:   translate(152px, 20px);
}

.div-i-1 {
    width: 10px;
    height: 21px;
    background-color: white;
    float: left;
    transform: translate(176px, 14px) rotate(90deg);
}
.div-i-2 {
    width: 10px;
    height: 100px;
    background-color: white;
    float: left;
    transform: translate(165px, 20px);
}
.div-i-3 {
    width: 10px;
    height: 21px;
    background-color: white;
    float: left;
    transform: translate(156px, 105px) rotate(90deg);
}

.div-j-1 {
    width: 10px;
    height: 21px;
    background-color: green;
    float: left;
    transform: translate(202px, 13px) rotate(90deg);
}
.div-j-2 {
    width: 10px;
    height: 83px;
    background-color: green;
    float: left;
    transform: translate(193px, 27px);
}
.div-j-3 {
    width: 34px;
    height: 30px;
    border: 10px solid green;
    border-radius: 0 0 50% 50%;
    border-top: none;
    float: left;
    transform:   translate(159px, 92px);
}

.div-k-1 {
    width: 10px;
    height: 95px;
    background-color: white;
    float: left;
    transform: translate(180px, 20px);
}
.div-k-2 {
    width: 10px;
    height: 50px;
    background-color: white;
    float: left;
    transform: perspective(10px) translate(191px, 21px) skew(-41deg);

}
.div-k-3 {
    width: 10px;
    height: 60px;
    background-color: white;
    float: left;
    transform: translate(188px, 55px) skew(25deg);
}

.div-l-1 {
    width: 10px;
    height: 100px;
    background-color: green;
    float: left;
    transform: translate(-494px, 139px);
}

.div-l-2 {
    width: 10px;
    height: 40px;
    background-color: green;
    float: left;
    transform: translate(-488px, 214px) rotate(90deg);
}

.div-m-1 {
    width: 10px;
    height: 100px;
    background-color: white;
    float: left;
    transform: translate(-456px, 139px);
}
.div-m-2 {
    width: 10px;
    height: 66px;
    background-color: white;
    float: left;
    transform: translate(-449px, 139px) skew(-154deg);
}
.div-m-3 {
    width: 10px;
    height: 66px;
    background-color: white;
    float: left;
    transform: translate(-427px, 139px) skew(154deg);
}
.div-m-4 {
    width: 10px;
    height: 100px;
    background-color: white;
    float: left;
    transform: translate(-420px, 139px);
}

.div-n-1 {
    width: 10px;
    height: 100px;
    background-color: green;
    float: left;
    transform: translate(-404px, 139px);
}
.div-n-2 {
    width: 10px;
    height: 100px;
    background-color: green;
    float: left;
    transform: translate(-387px, 139px) skew(27deg);
}

.div-n-3 {
    width: 10px;
    height: 100px;
    background-color: green;
    float: left;
    transform: translate(-372px, 139px);
}

.div-o-1 {
    width: 60px;
    height: 100px;
    border: 10px solid white;
    border-radius: 50%;
    float: left;
    transform: translate(-360px, 139px);
}

.div-p-1 {
    width: 10px;
    height: 100px;
    background-color: green;
    float: left;
    transform: translate(-348px, 139px);
}
.div-p-2 {
    width: 35px;
    height: 54px;
    border: 10px solid green;
    border-radius: 50%;
    background-color: green;
    float: left;
    transform: translate(-355px, 139px);
}

.div-q-1 {
    width: 10px;
    height: 28px;
    background-color: white;
    float: left;
    transform: translate(-308px, 207px) skew(30deg);
}
.div-q-2 {
    width: 50px;
    height: 100px;
    border: 10px solid white;
    border-radius: 50%;
    float: left;
    transform: translate(-310px, 86px);
}

.div-r-1 {
    width: 10px;
    height: 66px;
    background-color: green;
    float: left;
    transform: translate(-293px, 120px);
}

.div-r-2 {
    width: 43px;
    height: 62px;
    float: left;
    transform: translate(413px, -14px);
    border-radius: 62px 62px 62px 0;
    border: 10px solid green;
    border-bottom: none;
}

.div-r-3 {
    width: 10px;
    height: 45px;
    background-color: green;
    float: left;
    transform: translate(397px, 41px) skew(18deg);
}

.div-s-1 {
    width: 40px;
    height: 50px;
    float: left;
    transform: translate(415px, -13px);
    border-radius: 62px 62px 62px 30px;
    border: 10px solid white;
    border-bottom: none;
}


.div-s-2 {
    width: 40px;
    height: 50px;
    float: left;
    transform: translate(380px, 37px) rotate(180deg);
    border-radius: 62px 62px 62px 40px;
    border: 10px solid white;
    border-bottom: none;
}

.div-t-1 {
    width: 10px;
    height: 98px;
    background-color: green;
    float: left;
    transform: translate(408px, -11px);
}
.div-t-2 {
    width: 10px;
    height: 59px;
    background-color: green;
    float: left;
    transform: translate(399px, -36px) rotate(90deg);
}

.div-u-1 {
    width: 45px;
    height: 102px;
    float: left;
    transform: translate(436px, -11px) rotate(180deg);
    border-radius: 62px 62px 0 0;
    border: 10px solid white;
    border-bottom: none;
}

.div-v-1 {
    width: 10px;
    height: 100px;
    background-color: green;
    float: left;
    transform: translate(454px, -10px) skew(8deg);
}
.div-v-2 {
    width: 10px;
    height: 100px;
    background-color: green;
    float: left;
    transform: translate(463px, -10px) skew(-8deg);
}

.div-w-1 {
    width: 10px;
    height: 100px;
    background-color: white;
    float: left;
    transform: translate(-52px, 114px) skew(8deg);
}
.div-w-2 {
    width: 10px;
    height: 67px;
    background-color: white;
    float: left;
    transform: translate(-45px, 147px) skew(-8deg);
}
.div-w-3 {
    width: 10px;
    height: 67px;
    background-color: white;
    float: left;
    transform: translate(-45px, 147px) skew(8deg);
}

.div-w-4 {
    width: 10px;
    height: 100px;
    background-color: white;
    float: left;
    transform: translate(-37px, 114px) skew(-8deg);
}

.div-x-1 {
    width: 10px;
    height: 100px;
    background-color: green;
    float: left;
    transform:  translate(2px, 114px) skew(22deg);
}
.div-x-2 {
    width: 10px;
    height: 100px;
    background-color: green;
    float: left;
    transform:  translate(-9px, 115px) skew(-22deg);
}

.div-y-1 {
    width: 10px;
    height: 50px;
    background-color: white;
    float: left;
    transform: translate(30px, 115px) skew(22deg);
}
.div-y-2 {
    width: 10px;
    height: 50px;
    background-color: white;
    float: left;
    transform: translate(39px, 116px) skew(-22deg);
}
.div-y-3 {
    width: 10px;
    height: 50px;
    background-color: white;
    float: left;
    transform: translate(20px, 164px);
}

.div-z-1 {
    width: 10px;
    height: 50px;
    background-color: white;
    border-radius: 0 0 0 20px;
    float: left;
    transform: translate(71px, 96px) rotate(90deg);
}
.div-z-2 {
    width: 10px;
    height: 75px;
    background-color: white;
    float: left;
    transform: translate(60px, 128px) skew(25deg);
}
.div-z-3 {
    width: 10px;
    height: 50px;
    background-color: white;
    border-radius: 0 20px 0 0;
    float: left;
    transform: translate(49px, 185px) rotate(90deg);
}